* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    background-color: purple;
    color: orange;
    align-items: center;
  }
  .logo{
    margin-top: 15px;
    position: relative;
  }
  #header-img{
    max-height: 75px;
    margin-bottom: 15px;
  }
  #nav-bar{
    width: 100%;
    color: #FFFFFF;
    margin-right: 5%;
    font-weight: 600;
  }
