.signup-company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    height: 290px;
    width: 280px;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    top: 50%;
    margin-top: -135px;   
}

.company-name {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-top: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.signup-btn {
    margin: 15px;
    display: flex;
    justify-content: center;
}

button{
    background-color: purple;
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 3px;
}

button:hover{
    background-color: orange;
    cursor: pointer;
}
