*{
    margin: 0;
    padding: 0;
}
  
body{
    text-align: center;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
}

#logo{
    max-width: 80%;
    height: auto;
}

#account-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#account-area > button{
    background-color: purple;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    margin: 30px;
}

#account-area > button:hover{
    background-color: orange;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    width: 100%;
}

/*
https://www.w3schools.com/cssref/pr_class_cursor.asp
*/